<div class="jat-app__wrapper">
  <div class="jat-app__header jat-app__container">
    <app-header></app-header>
  </div>
  <div class="jat-app__content jat-app__container">
    <app-users-filter></app-users-filter>
    <ng-container *ngIf="(userService.isLoadingData$ | async) else showTable">
      <div class="jat-app__preloader">Loading...</div>
    </ng-container>
    <ng-template #showTable>
      <app-users-table [users]="users"></app-users-table>
    </ng-template>
  </div>
  <div class="jat-app__footer jat-app__container">
    <app-footer></app-footer>
  </div>
</div>
<ng-container *ngIf="modalService.isShown$ | async">
  <div class="jat-app__modal">
    <app-modal></app-modal>
  </div>
</ng-container>
